@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Light'), local('FiraCode-Light'),
        url('FiraCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
	ascent-override: 95.62%;
	descent-override: 25%;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Bold'), local('FiraCode-Bold'),
        url('FiraCode-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
	ascent-override: 95.62%;
	descent-override: 25%;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Medium'), local('FiraCode-Medium'),
        url('FiraCode-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
	ascent-override: 95.62%;
	descent-override: 25%;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code SemiBold'), local('FiraCode-SemiBold'),
        url('FiraCode-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
	ascent-override: 95.62%;
	descent-override: 25%;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('FiraCode-Regular'),
        url('FiraCode-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	ascent-override: 95.62%;
	descent-override: 25%;
}