<!-- views/index.ejs -->
<section>
	<% if (posts.length) { %>
		<% for (let i = 0; i < posts.length; i++) { %>  
			<article class="post">
				<%- posts[i].html %>
				<small class="post-date"><%= posts[i].date %></small> <!-- Добавляем вывод даты -->
			</article>
		<% } %>
	<% } else { %>
		<p><i>По запросу «<%- query %>» ничего не найдено.</i></p>
	<% } %>
</section>

<script src = "/public/js/wrap-images.js"></script>

<style>
.post {
    margin-bottom: 5em;
}
    .post:last-child {
        margin-bottom: 1.2em;
    }
    .post-date {
        opacity: 0.66;
    }
    .post img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
    }
    .post video {
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
    }

</style>