<!-- views/index.ejs -->
<link rel = "stylesheet" href = "/public/css/post.css">

<%
function formatDate(date) {
    const formatted = date.toLocaleString('ru-RU', {
        day: 'numeric',
        month: 'long',
        year: 'numeric',
    }).slice(0, -3); // Вырезаем " г."

	return formatted
}
const now = new Date()
%>

<section>
	<% for (const post of posts) { %>  
		<article class="post">
			<%- post.html %>
			<small class="post-footer">
				<%= formatDate(post.date) %> 
				<a href = "/post/<%= post.name %>" class = "post-link">Указатель</a>
				<% if (post.date > now) { %>
					<em class = "future">Пост из будущего!</em>
				<% } %>
			</small>
		</article>
	<% } %>
</section>

<script src = "/public/js/wrap-images.js" async></script>