<!-- views/index.ejs -->
<link rel = "stylesheet" href = "/public/css/post.css">

<%
function formatDate(date) {
    const formatted = date.toLocaleString('ru-RU', {
        day: 'numeric',
        month: 'long',
        year: 'numeric',
    }).slice(0, -3); // Вырезаем " г."

	return formatted
}
%>

<section>
	<% const now = new Date() %>
	<% if (posts.length) { %>
		<% for (const post of posts) { %>  
			<article class="post">
				<%- post.html %>
				<small class="post-footer">
					<%= formatDate(post.date) %> 
					// <a href = "/post/<%= post.name %>">Указатель</a>
					<% if (post.date > now) { %>
						<em class = "future">Пост из будущего!</em>
					<% } %>
				</small>
			</article>
		<% } %>
	<% } else { %>
		<p><i>По запросу «<%- query %>» ничего не найдено.</i></p>
	<% } %>
</section>

<script src = "/public/js/wrap-images.js" async></script>