<!-- views/index.ejs -->
<section>
	<% for (let i = 0; i < posts.length; i++) { %>  
		<article class="post">
			<%- posts[i].html %>
			<small class="post-date"><%= posts[i].date %></small> <!-- Добавляем вывод даты -->
		</article>
	<% } %>
</section>

<script src = "/public/js/wrap-images.js"></script>