<!-- views/index.ejs -->
<link rel = "stylesheet" href = "/public/css/post.css">

<section>
	<% if (posts.length) { %>
		<% for (const post of posts) { %>  
			<article class="post">
				<%- post.html %>
				<small class="post-date"><%= post.date %></small> <!-- Добавляем вывод даты -->
			</article>
		<% } %>
	<% } else { %>
		<p><i>По запросу «<%- query %>» ничего не найдено.</i></p>
	<% } %>
</section>

<script src = "/public/js/wrap-images.js" async></script>