<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/font/IBM_Plex_Sans/styles.css">
    <title>Дима / разглагольствования</title>
</head>
    <header>
        <% const imgNumber = Math.floor(Math.random() * 21) + 1; %>
        <img id = "logo" src="/logo/logo-<%= imgNumber %>-min.png" height="120px">
    </header>
    <hr>
    <main>
        <%- include('index') %>
    </main>
    <hr>
    <footer>
        <div>
            <input type="checkbox" id="darkModeCheckbox">
            <label for = "darkModeCheckbox">Тёмная тема</label>
        </div>
        <p>© 2003 — 3023 Дима. Все права поражены.</p>    
        <p>Политика транцендентальности&nbsp;&nbsp; О вас</p>
    </footer>
</body>

<script>
// поменять лого
const logoImage = document.getElementById("logo");
logoImage.addEventListener("click", () => {
    logoImage.src = `/logo/logo-${Math.floor(Math.random() * 21) + 1}-min.png`;
});
</script>

<script src = "/js/dark-mode.js"></script>
</html>