<!-- views/pagination.ejs -->
<hr>
<div class="pagination">
    <span>Страницы:</span>
    <% pageNumbers.forEach(function(pageNumber) { %>
        <div class="pagination-page">
            <% if (pageNumber === page) { %>
                <span class="active"><%= pageNumber %></span>
            <% } else { %>
                <a href="<%=
                    (pageNumber !== pageNumbers.length) ? 
                        (query) ?
                            `/search?q=${query}&page=${pageNumber}`
                            : `?page=${pageNumber}`
                        : (query) ?
                            `/search?q=${query}`
                            : '/'
                %>"><%= pageNumber %></a>
            <% } %>
        </div>
    <% }) %>
</div>
<hr>

<style>
.pagination-page {
    margin: 0 0.1em;
    display: inline;
    cursor: default;
}
    .pagination-page > * {
        padding: 0 0.4em;
    }
    .pagination-page .active {
        font-weight: bold;
        cursor: default;
    }

</style>