<!-- views/pagination.ejs -->
<hr>
<div class="pagination">
    <span>Страницы:</span>

    <div class = "pagination-list">
        <% pageNumbers.forEach(number => { %>
			<% if (number === page) { %>
				<span class="pagination-page active"><%= number %></span>
			<% } else { %>
				<a href="<%=
					(number !== pageNumbers.length) ? 
						(query) ?
							`/search?q=${query}&page=${number}`
							: `?page=${number}`
						: (query) ?
							`/search?q=${query}`
							: '/'
					%>"
					class="pagination-page"
				>
					<%= number %>
				</a>
			<% } %>
        <% }) %>
    </div>
    
</div>
<hr>