<!-- views/pagination.ejs -->
<hr>
<div class="pagination">
    <span>Страницы:</span>
    <% pageNumbers.forEach(function(pageNumber) { %>
        <div class="pagination-page">
            <% if (pageNumber === page) { %>
                <span class="active"><%= pageNumber %></span>
            <% } else { %>
                <a href="<%=
                    (pageNumber !== pageNumbers.length) ? 
                        (query) ?
                            `/search?q=${query}&page=${pageNumber}`
                            : `?page=${pageNumber}`
                        : (query) ?
                            `/search?q=${query}`
                            : '/'
                %>">
                    <%= pageNumber %>
                </a>
            <% } %>
        </div>
    <% }) %>
</div>
<hr>