#logo {
    max-height: 120px;
    max-width: 100%;
    /* height: auto; */
}
    #logo::selection {
        background-color: transparent;
    }
    .logo-23,
    .logo-24,
    .logo-25 {
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

/* @media screen and (max-width: 652px) {
    
} */