/* Общие стили для страницы */
body {
    padding: 0.25em 1em;
    max-width: 652px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', 'Inter', sans-serif;
    line-height: 1.35;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
}

* {
    box-sizing: border-box;
}

/* Стили для списков */
ul {
    margin-top: 0.5em;
    padding-left: 1.33em;
}
    ul > li {
        margin-bottom: 0.5em;
    }
    ul > li::marker {
        content: "- ";
        font-size: 1.2em;
        margin-right: 10px;
    }

/* Стили для заголовков */
h1 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.3em;
}
h2, h3, h4, h5, h6 {
    margin-bottom: -0.5em;
}

/* Стили для элементов формы */
input[type="checkbox"] {
    margin-left: 0;
}
button, select {
    background-image: linear-gradient(#eee, #eaeaea);
    background-color: #eee;
    border: 1px solid #e1e1e1;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
    font-family: inherit;
    box-shadow: 0 1px 0 rgba(20,20,20,0.04);
    line-height: inherit;
}
    button:hover,
    select:hover {
        background-image: linear-gradient(#e6e6e6, #e1e1e1);
        background-color: #e6e6e6;
        border: 1px solid #ccc;
    }
    select > option {
        font-size: 0.95em;
    }
    button:active,
    select:active {
        background-color: #dfdfdf;
        border: 1px solid #bebebe;
    }

/* Стили для текстовых полей */
input:not([type="checkbox"]):not([type="radio"]) {
    border: 1px solid #e1e1e1;
    padding: 0.2em 0.6em;
    border-radius: 0.2em;
    font-family: inherit;
    line-height: inherit;
}

/* Стили для кода */
code {
    display: inline-block;
    padding: 0 0.25em;
    background-color: #726e6e12;
    font-family: "Fira Code", monospace;
    font-size: 90%;
    border-radius: 3px;
    border-radius: 0.2em;
    max-width: 100%;
    scrollbar-width: thin;
}
code[class] {
    white-space: unset;
    padding: 1em;
    width: 100%;
    background-color: #8585850f;
    font-size: 0.8em;
    overflow-x: auto;
    border: 1px solid #a8a8a83f;
    box-shadow: 0 1px 0 rgba(20,20,20,0.05);
}
pre > code {
    overflow-x: auto;
}

a {
	text-decoration: underline;
	text-decoration-color: currentcolor;
	text-decoration-thickness: auto;
	text-decoration-thickness: 0.05em;
	text-underline-offset: .25em;
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
	text-decoration-color: color-mix(in srgb, currentColor, transparent 85%);
}
	a:hover {
		text-decoration-color: color-mix(in srgb, currentColor, transparent 65%);	
	}

hr {
    height: 1px;
    border: none;
    background-color: lightgray;
    opacity: 0.66;
}

@media screen and (max-width: 962px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 1.8em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1d1d1d;
        color: #ffffff;
    }
	button, select {
        background-color: #111;
		background-image: linear-gradient(#202020, #1b1b1b);
        border-color: #363636;
		color: inherit;
    }
		button:hover,
		select:hover {
			background-color: #000;
			background-image: linear-gradient(#161616, #1b1b1b);
			border-color: #363636;
		}
		button:active,
		select:active {
			background-color: #000;
			background-image: linear-gradient(#161616, #080808);
		}
    input:not([type="checkbox"]):not([type="radio"]) {
        background-color: #000000;
        border-color: #363636;
        color: #ffffff;
    }
    hr {
        background-color: #444444;
    }
	a {
		color: #5baaff;
	}
	a:visited {
		color: #a25bff;
	}
}
