.post {
    margin-bottom: 5em;
}
    .post:last-child {
        margin-bottom: 1.2em;
    }
    .post-date {
        opacity: 0.66;
    }
    .post img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
    }
    .post video {
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
    }