.post {
    margin-bottom: 5em;
}
    .post:last-child {
        margin-bottom: 1.2em;
    }
    .post-footer {
        opacity: 0.66;
    }
        .post-footer a {
            color: inherit;
        }
        .post-footer .future {
            margin-top: -0.15rem;
            display: block;
        }
    .post img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
        outline: 1px solid #efefef;
    }
    .post video {
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
    }