.post {
    margin-bottom: 5em;
}
    .post:last-child {
        margin-bottom: 1.2em;
    }

    .post p {
		margin-top: 1em;
		margin-bottom: 1em;
    }
	.post > ul, .post > ol,
	.post pre {
		margin-top: -1em;
		margin-bottom: 1em;
	}
	.post p:has(img) {
		margin-top: -0.5em;
	}
	.post table,
	.post figure {
		margin-top: 1em;
		margin-bottom: 1em;
	}

    .post-footer {
        opacity: 0.66;
    }
        .post-footer a {
            color: inherit;
        }
        .post-footer .future {
            margin-top: -0.15rem;
            display: block;
        }
	.post-link {
		text-decoration-color: color-mix(in srgb, currentColor, transparent 70%);
		margin-left: 0.5em;
	}
    .post img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
        outline: 1px solid #00000010
    }
    .post video {
        max-width: 100%;
        height: auto;
        border-radius: 0.2em;
    }