body {
    padding: 0.25em 1em;
    max-width: 652px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', 'Inter', sans-serif;
    line-height: 1.4;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
}
.dark-mode *,
body.dark-mode {
    background-color: black;
    color: black;
}
.dark-mode img {
    opacity: 0;
}
.dark-mode label {
    color: white;
}
.dark-mode code {
    outline-color: transparent;
}
* {
    box-sizing: border-box;
}

header {
    padding: 1.25em 0;
    position: relative;
}
footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#logo {
    max-height: 120px;
    max-width: 100%;
    /* height: auto; */
}
    #logo::selection {
        background-color: transparent;
    }

.post {
    margin-bottom: 5em;
}
    .post:last-child {
        margin-bottom: 1.2em;
    }
    .post-date {
        opacity: 0.66;
    }
    .post img {
        cursor: pointer;
        max-width: 100%;
        border-radius: 0.2em;
    }
    .post video {
        max-width: 100%;
        border-radius: 0.2em;
    }


.pagination-page {
    margin: 0 0.1em;
    display: inline;
    cursor: default;
}
    .pagination-page > * {
        padding: 0 0.4em;
    }
    .pagination-page .active {
        font-weight: bold;
        cursor: default;
    }

.search {
    width: fit-content;
    position: absolute;
    right: 0;
    top: calc(100% + 1em)
}

hr {
    height: 1px;
    border: none;
    background-color: lightgray;
    opacity: 0.66;
}
ul {
    margin-top: 0.5em;
    padding-left: 1.33em;
}
    ul > li {
        margin-bottom: 0.5em;
    }
    ul > li::marker {
        content: "- "; /* Use any content (e.g., a character or an image) for your custom marker */
        font-size: 1.2em; /* Adjust the size of the marker */
        margin-right: 10px; /* Add space between the marker and the list item */
    }
h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 0.4em;
}
input[type="checkbox"] {
    margin-left: 0;
}
button {
    background-color: #eee;
    border: 1px solid #e1e1e1;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
    font-family: inherit;
}
    button:hover {
        background-color: #e6e6e6;
        border: 1px solid #ccc;
    }
input:not([type="checkbox"]):not([type="radio"]) {
    border: 1px solid #e1e1e1;
    padding: 0.2em 0.6em;
    border-radius: 0.2em;
    font-family: inherit;
}
code {
    display: inline-block;
    padding: 0 0.25em;
    margin: 0 2px;
    outline: 1px solid #e4e4e4;
    font-family: monospace;
    font-size: 1.02em;
    border-radius: 3px;
    white-space: nowrap;
    border-radius: 0.2em;
}

@media screen and (max-width: 962px) {
    body {
        font-size: 0.95rem;
    }
}